<h2 class = "mt-3 mb-0 border-bottom text-muted">
  <%= @article.title %>
</h2>
<div class="w-100 mt-0 text-end text-muted fs-6"><%= @article.updated_at.strftime('%e %b, %Y') %></div>
<p><%= @article.content %></p>
